openapi: 3.0.3

info:
  title: HEI Admin API
  description: |
    Management of HEI students, promotions, tracks, groups, courses, teachers,
    exams, grades and graduates.

    This file is the single source of truth for the project data model.
    Invariants that cannot be expressed in OpenAPI (foreign keys, uniqueness,
    non-overlapping periods) are documented in each schema description and will
    be materialized by the Flyway migrations and the business services.
  version: 1.0.0

servers:
  - url: https://api.hei-admin.com
    description: Production
  - url: http://localhost:8080
    description: Local

security:
  - BearerAuth: []

tags:
  - name: Health
  - name: Security
  - name: Promotion
  - name: Track
  - name: Group
  - name: Student
  - name: Teacher
  - name: Course
  - name: Exam
  - name: Grade
  - name: Result
  - name: Transcript

paths:
  /ping:
    get:
      tags: [ Health ]
      summary: Ping
      operationId: ping
      security: []
      responses:
        "200":
          description: pong
          content:
            text/plain:
              schema:
                type: string

  /auth/login:
    post:
      tags: [ Security ]
      summary: Exchange credentials for an access token
      description: |
        The only public endpoint besides the health probes: a caller cannot hold a token before
        signing in.

        The returned token is signed and self contained. Every other endpoint reads it from
        `Authorization: Bearer <access_token>` and trusts its signature rather than looking the
        caller up, which is what keeps the API stateless.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Credentials"
      responses:
        "200":
          description: A token usable until it expires
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
        "401":
          description: |
            Unknown email or wrong password. Deliberately the same answer for both, so that the
            response never tells an attacker which accounts exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /whoami:
    get:
      tags: [ Security ]
      summary: Identity and role of the authenticated user
      operationId: whoami
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Whoami"
        "401":
          $ref: "#/components/responses/401"

  # ----------------------------------------------------------------------------
  # Promotion / Track / Group
  # ----------------------------------------------------------------------------
  /promotions:
    get:
      tags: [ Promotion ]
      summary: List promotions
      description: Backs the Thymeleaf promotion listing page.
      operationId: getPromotions
      parameters:
        - $ref: "#/components/parameters/QueryPage"
        - $ref: "#/components/parameters/QueryPageSize"
      responses:
        "200":
          description: Promotion list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Promotion"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
    put:
      tags: [ Promotion ]
      summary: Create or update promotions
      description: ADMIN role only.
      operationId: crupdatePromotions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Promotion"
      responses:
        "200":
          description: Created or updated promotions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Promotion"
        "400":
          $ref: "#/components/responses/400"
        "403":
          $ref: "#/components/responses/403"

  /promotions/{id}:
    get:
      tags: [ Promotion ]
      summary: Get a promotion
      operationId: getPromotionById
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Promotion
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Promotion"
        "404":
          $ref: "#/components/responses/404"

  /promotions/{id}/groups:
    get:
      tags: [ Group ]
      summary: Groups of a promotion
      operationId: getPromotionGroups
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Group"
    put:
      tags: [ Group ]
      summary: Create or update the groups of a promotion
      description: ADMIN role only.
      operationId: crupdatePromotionGroups
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Group"
      responses:
        "200":
          description: Created or updated groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Group"
        "400":
          $ref: "#/components/responses/400"

  /promotions/{id}/results:
    get:
      tags: [ Result ]
      summary: Results of a promotion across the three years
      description: |
        ADMIN role only.
        Returns, for every student of the promotion, the S1 to S6 result
        computed semester by semester from the courses applicable to THEIR
        academic context: common core in S1-S3, chosen track in S4-S6.
      operationId: getPromotionResults
      parameters:
        - $ref: "#/components/parameters/PathId"
        - name: track_code
          in: query
          description: |
            Optional filter on the chosen track (EL, TN, ...).
            Excludes students still in the common core, who have no track yet.
          required: false
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPage"
        - $ref: "#/components/parameters/QueryPageSize"
      responses:
        "200":
          description: Promotion results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StudentResult"
        "403":
          $ref: "#/components/responses/403"

  /promotions/{id}/graduates:
    get:
      tags: [ Result ]
      summary: Graduate list of a promotion
      description: |
        Computed dynamically: a student graduates if and only if S1, S2, S3,
        S4, S5 and S6 are all validated. No persisted `graduated` field is
        involved.
      operationId: getPromotionGraduates
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Graduates ranked by decreasing general average
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Graduate"
        "403":
          $ref: "#/components/responses/403"

  /promotions/{id}/graduates/excel:
    get:
      tags: [ Result ]
      summary: Download the graduate list as an Excel file
      description: |
        File columns: rank, STD, last name, first name, general average.
        Target of the "Download graduates" button of the Thymeleaf page.
      operationId: getPromotionGraduatesExcel
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: XLSX file
          headers:
            Content-Disposition:
              description: attachment; filename="graduates-<promotion_ref>.xlsx"
              schema:
                type: string
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"

  /tracks:
    get:
      tags: [ Track ]
      summary: List tracks
      operationId: getTracks
      responses:
        "200":
          description: Tracks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Track"
    put:
      tags: [ Track ]
      summary: Create or update tracks
      description: ADMIN role only.
      operationId: crupdateTracks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Track"
      responses:
        "200":
          description: Created or updated tracks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Track"

  # ----------------------------------------------------------------------------
  # Student
  # ----------------------------------------------------------------------------
  /students:
    get:
      tags: [ Student ]
      summary: List students
      description: ADMIN and TEACHER roles only.
      operationId: getStudents
      parameters:
        - $ref: "#/components/parameters/QueryPage"
        - $ref: "#/components/parameters/QueryPageSize"
        - name: promotion_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: track_code
          in: query
          description: |
            Filter on the chosen track. Returns no student still in the common
            core.
          required: false
          schema:
            type: string
        - name: group_id
          in: query
          description: Students assigned to this group on date `at` (today by default).
          required: false
          schema:
            type: string
            format: uuid
        - name: at
          in: query
          required: false
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Student"
        "403":
          $ref: "#/components/responses/403"
    put:
      tags: [ Student ]
      summary: Create or update students
      description: ADMIN role only.
      operationId: crupdateStudents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Student"
      responses:
        "200":
          description: Created or updated students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Student"
        "400":
          $ref: "#/components/responses/400"

  /students/{id}:
    get:
      tags: [ Student ]
      summary: Get a student
      description: A STUDENT can only access their own record.
      operationId: getStudentById
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Student
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Student"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"

  /students/{id}/group-assignments:
    get:
      tags: [ Student ]
      summary: Full history of the groups a student belonged to
      description: |
        Answers "which groups did the student belong to during their studies?".
        Past assignments are kept indefinitely.
      operationId: getStudentGroupAssignments
      parameters:
        - $ref: "#/components/parameters/PathId"
        - name: at
          in: query
          description: |
            When provided, returns only the assignment active on that date.
            Answers "which group was the student in on a given date?".
          required: false
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Assignments, sorted by ascending start_date
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StudentGroupAssignment"
        "403":
          $ref: "#/components/responses/403"
    post:
      tags: [ Student ]
      summary: Move a student to another group
      description: |
        ADMIN role only.
        Closes the current assignment at `start_date - 1 day` then opens the
        new assignment with `end_date = null`, in a single transaction.
        A group change never alters any grade: `Grade` never references a group.
        A group change never alters the track either: moving from an EL group
        to a TN group requires a new `StudentTrackChoice`.
        Rejected when the period overlaps an existing assignment of the same
        student.
        Rejected when the target group carries a track that the student has not
        chosen (rules R1 and R2 of `StudentGroupAssignment`).
      operationId: changeStudentGroup
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StudentGroupChange"
      responses:
        "200":
          description: New active assignment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StudentGroupAssignment"
        "400":
          $ref: "#/components/responses/400"
        "403":
          $ref: "#/components/responses/403"
        "409":
          description: |
            Overlapping assignment periods, or inconsistency between the track
            of the target group and the student track choice
            (`TRACK_NOT_SELECTED` when no choice exists).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /students/{id}/track-choices:
    get:
      tags: [ Track ]
      summary: Track choices of a student
      description: |
        Returns the track choices, sorted by ascending effective semester.
        Empty while the student is still in the common core.
        A STUDENT can only read their own.
      operationId: getStudentTrackChoices
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Track choices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StudentTrackChoice"
        "403":
          $ref: "#/components/responses/403"
    post:
      tags: [ Track ]
      summary: Record the track choice of a student
      description: |
        ADMIN role only.
        The choice takes effect from the given semester, S4 in the nominal
        case, and holds for every following semester.

        Rejected with 400 when the effective semester is a common core one
        (`semester.common_core` true), or when the track is not open in the
        student promotion.

        Recording a choice never alters any existing grade: common core grades
        remain valid and still count towards the diploma.
        Recording a choice never creates a group assignment either: the two are
        distinct business operations.
      operationId: chooseStudentTrack
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StudentTrackChoiceCreation"
      responses:
        "200":
          description: Recorded choice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StudentTrackChoice"
        "400":
          $ref: "#/components/responses/400"
        "403":
          $ref: "#/components/responses/403"
        "409":
          description: A choice already exists for this effective semester.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /students/{id}/courses:
    get:
      tags: [ Course ]
      summary: Courses applicable to a student
      description: |
        CRITICAL RULE: common core, then EL / TN.

        The returned courses depend on the semester, never on a global property
        of the student:
        - common core semester (S1-S3): every course of the semester, all of
          which have `track = null`;
        - track semester (S4-S6): the courses with `track = null`, common to
          both tracks, plus those whose `track` equals the track resolved for
          that semester through `StudentTrackChoice`.

        An EL student therefore never gets a TN-only course, and vice versa.
        The filtering is carried by the data, never by a condition hardcoded in
        the business code. The student group plays no part in this computation.

        A non `common_core` semester not covered by a track choice returns NO
        course: its academic context cannot be determined. The
        TRACK_NOT_SELECTED reason is then exposed by `SemesterResult.status`.

        When no `semester_ref` is given, resolution is performed semester by
        semester over S1 to S6.
      operationId: getStudentCourses
      parameters:
        - $ref: "#/components/parameters/PathId"
        - name: semester_ref
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/SemesterRef"
      responses:
        "200":
          description: Applicable courses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Course"
        "403":
          $ref: "#/components/responses/403"

  /students/{id}/grades:
    get:
      tags: [ Grade ]
      summary: Grades of a student
      description: |
        A STUDENT can ONLY read their own grades.
        Grades earned before a group change remain present.
      operationId: getStudentGrades
      parameters:
        - $ref: "#/components/parameters/PathId"
        - name: semester_ref
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/SemesterRef"
      responses:
        "200":
          description: Grades
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Grade"
        "403":
          $ref: "#/components/responses/403"

  /students/{id}/result:
    get:
      tags: [ Result ]
      summary: Full result of a student (S1 to S6)
      operationId: getStudentResult
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StudentResult"
        "403":
          $ref: "#/components/responses/403"

  /students/{id}/transcript-requests:
    get:
      tags: [ Transcript ]
      summary: Transcripts requested by the student
      description: A STUDENT can ONLY read their own transcripts.
      operationId: getStudentTranscriptRequests
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Transcript requests
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TranscriptRequest"
        "403":
          $ref: "#/components/responses/403"
    post:
      tags: [ Transcript ]
      summary: Request a PDF transcript
      description: |
        SYNCHRONOUS / ASYNCHRONOUS BOUNDARY.

        Synchronous part: PDF generation, upload to AWS S3, status moved to
        GENERATED, then publication of an event.
        Asynchronous part: a consumer receives the event, builds the S3 link
        and emails it to the student, then moves the status to SENT or FAILED.

        The HTTP response therefore never carries the final link: the client
        gets a request id and then polls `GET /transcript-requests/{id}`, or
        simply waits for the email.
      operationId: requestTranscript
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TranscriptRequestCreation"
      responses:
        "202":
          description: Request accepted, asynchronous processing in progress
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranscriptRequest"
        "403":
          $ref: "#/components/responses/403"

  /transcript-requests/{id}:
    get:
      tags: [ Transcript ]
      summary: Status of a transcript request
      operationId: getTranscriptRequestById
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Transcript request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranscriptRequest"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"

  # ----------------------------------------------------------------------------
  # Teacher
  # ----------------------------------------------------------------------------
  /teachers:
    get:
      tags: [ Teacher ]
      summary: List teachers
      operationId: getTeachers
      parameters:
        - $ref: "#/components/parameters/QueryPage"
        - $ref: "#/components/parameters/QueryPageSize"
      responses:
        "200":
          description: Teachers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Teacher"
        "403":
          $ref: "#/components/responses/403"
    put:
      tags: [ Teacher ]
      summary: Create or update teachers
      description: ADMIN role only.
      operationId: crupdateTeachers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Teacher"
      responses:
        "200":
          description: Created or updated teachers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Teacher"

  /teachers/{id}:
    get:
      tags: [ Teacher ]
      summary: Get a teacher
      operationId: getTeacherById
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Teacher
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Teacher"
        "404":
          $ref: "#/components/responses/404"

  /me/password:
    post:
      tags: [ Account ]
      summary: Change the password of the signed-in account
      description: |
        No identifier is taken: the account is the one the token was issued for,
        so changing somebody else's password cannot even be expressed. The
        current password is required, and every token issued before the change
        is refused from the next call on.
      operationId: changeOwnPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordChange"
      responses:
        "200":
          description: The password was changed
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"

  /students/{id}/deactivation:
    post:
      tags: [ Account ]
      summary: Disable the account of a student
      description: |
        Reversible, and immediate: the holder is refused on their next call even
        though the token they already hold has not expired. The profile, its
        grades and its history are all kept.
      operationId: deactivateStudentAccount
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"

  /students/{id}/activation:
    post:
      tags: [ Account ]
      summary: Enable the account of a student again
      operationId: activateStudentAccount
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"

  /teachers/{id}/deactivation:
    post:
      tags: [ Account ]
      summary: Disable the account of a teacher
      operationId: deactivateTeacherAccount
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"

  /teachers/{id}/activation:
    post:
      tags: [ Account ]
      summary: Enable the account of a teacher again
      operationId: activateTeacherAccount
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"

  /teachers/{id}/teaching-assignments:
    get:
      tags: [ Teacher ]
      summary: Teaching scope of a teacher
      description: |
        Source of truth for TEACHER authorization: a teacher may only read and
        update the grades of the (course, group) pairs present in this list.
      operationId: getTeacherTeachingAssignments
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Teaching assignments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TeachingAssignment"
        "403":
          $ref: "#/components/responses/403"

  /teaching-assignments:
    put:
      tags: [ Teacher ]
      summary: Create or update teaching assignments
      description: |
        ADMIN role only.
        An assignment binds a course, a teacher and a group.
        A course can therefore be taught by several teachers, and given to
        several groups without being given to all of them.
      operationId: crupdateTeachingAssignments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/TeachingAssignment"
      responses:
        "200":
          description: Created or updated assignments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TeachingAssignment"
        "400":
          $ref: "#/components/responses/400"

  # ----------------------------------------------------------------------------
  # Course / Exam
  # ----------------------------------------------------------------------------
  /courses:
    get:
      tags: [ Course ]
      summary: List the curriculum courses
      operationId: getCourses
      parameters:
        - $ref: "#/components/parameters/QueryPage"
        - $ref: "#/components/parameters/QueryPageSize"
        - name: semester_ref
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/SemesterRef"
        - name: track_code
          in: query
          description: |
            Returns only the courses followed by this track, that is the
            courses specific to it AND the courses with a null `track`, which
            are common.
            To get only the specific ones, also filter on a non `common_core`
            semester.
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Courses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Course"
    put:
      tags: [ Course ]
      summary: Create or update courses
      description: ADMIN role only.
      operationId: crupdateCourses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Course"
      responses:
        "200":
          description: Created or updated courses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Course"
        "400":
          $ref: "#/components/responses/400"

  /courses/{id}:
    get:
      tags: [ Course ]
      summary: Get a course
      operationId: getCourseById
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Course
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Course"
        "404":
          $ref: "#/components/responses/404"

  /courses/{id}/exams:
    get:
      tags: [ Exam ]
      summary: Exams of a course
      operationId: getCourseExams
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Exams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Exam"
    put:
      tags: [ Exam ]
      summary: Create or update the exams of a course
      description: ADMIN role, or TEACHER assigned to the course.
      operationId: crupdateCourseExams
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Exam"
      responses:
        "200":
          description: Created or updated exams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Exam"
        "400":
          $ref: "#/components/responses/400"
        "403":
          $ref: "#/components/responses/403"

  # ----------------------------------------------------------------------------
  # Grade
  # ----------------------------------------------------------------------------
  /exams/{id}/grades:
    get:
      tags: [ Grade ]
      summary: Grades of an exam
      description: |
        A TEACHER only sees the grades of the students who, on the exam date,
        belonged to a group they are assigned to for that course.
      operationId: getExamGrades
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Grades
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Grade"
        "403":
          $ref: "#/components/responses/403"
    put:
      tags: [ Grade ]
      summary: Record or update exam grades
      description: |
        Every element writes one row in the grade history.
        `reason` and `reason_type` are MANDATORY: an update without a reason is
        rejected with 400, both on creation and on update.

        Rejected with 409 TRACK_NOT_SELECTED when the course belongs to a non
        `common_core` semester and the graded student has no track choice
        covering that semester: the course is then not part of their curriculum.
      operationId: crupdateExamGrades
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/GradeChange"
      responses:
        "200":
          description: Recorded grades
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Grade"
        "400":
          $ref: "#/components/responses/400"
        "403":
          $ref: "#/components/responses/403"
        "409":
          description: |
            TRACK_NOT_SELECTED: the course belongs to a track semester and the
            student has no track choice covering that semester.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /grades/{id}:
    get:
      tags: [ Grade ]
      summary: Get a grade
      operationId: getGradeById
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Grade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grade"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"

  /grades/{id}/history:
    get:
      tags: [ Grade ]
      summary: Full modification history of a grade
      description: |
        Keeps, for every modification: old value, new value, reason, author and
        timestamp. The history is never deleted nor overwritten.
      operationId: getGradeHistory
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: History, most recent first
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GradeHistory"
        "403":
          $ref: "#/components/responses/403"

components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PathId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    QueryPage:
      name: page
      in: query
      required: false
      description: Page number, starts at 1.
      schema:
        type: integer
        minimum: 1
        default: 1
    QueryPageSize:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 50

  responses:
    "400":
      description: Bad request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    "401":
      description: Unauthenticated
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    "403":
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    "404":
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:

    # ==========================================================================
    # ENUMERATIONS
    # ==========================================================================
    Role:
      type: string
      description: Role carried by the user account.
      enum: [ STUDENT, TEACHER, ADMIN ]

    StudentStatus:
      type: string
      enum: [ ACTIVE, SUSPENDED, LEFT ]

    SemesterRef:
      type: string
      description: |
        The curriculum spans three years, two semesters per year, 30 credits
        per semester, 180 credits in total.

        S1, S2 and S3 are COMMON CORE: the student has no track yet. The EL /
        TN choice happens from S4 onwards and applies to S4, S5 and S6.
      enum: [ S1, S2, S3, S4, S5, S6 ]

    GradeChangeReasonType:
      type: string
      description: |
        Category of the reason behind a grade entry or update.
        CREATION is reserved for the first entry.
      enum: [ CREATION, CLAIM, INPUT_ERROR, CORRECTION, OTHER ]

    TranscriptStatus:
      type: string
      description: |
        PENDING   : request recorded
        GENERATED : PDF generated and uploaded to S3, event published
                    (end of the synchronous part)
        SENT      : email sent by the consumer (end of the asynchronous part)
        FAILED    : failure, `error_message` filled in
      enum: [ PENDING, GENERATED, SENT, FAILED ]

    SemesterResultStatus:
      type: string
      description: |
        EVALUATED          : the semester could be computed.
        TRACK_NOT_SELECTED : non `common_core` semester while no
                             `StudentTrackChoice` covers it. The academic
                             context cannot be determined, so the semester is
                             NOT evaluable. Never to be confused with a
                             semester that was evaluated and then failed for
                             lack of credits.
      enum: [ EVALUATED, TRACK_NOT_SELECTED ]

    GraduationBlockerCode:
      type: string
      description: |
        SEMESTER_NOT_VALIDATED : semester evaluated but credits insufficient.
        TRACK_NOT_SELECTED     : semester not evaluable for lack of a track
                                 choice.

        These two causes are deliberately kept apart: a student who never chose
        a track must not show up as "not graduated for insufficient credits".
      enum: [ SEMESTER_NOT_VALIDATED, TRACK_NOT_SELECTED ]

    # ==========================================================================
    # ACADEMIC STRUCTURE
    # ==========================================================================
    Promotion:
      type: object
      description: |
        Cohort identified by a letter: K, H, N.
        A promotion holds several groups and opens one or more tracks.
        Promotion, track, group and student are four distinct concepts.
        DB constraints: `ref` UNIQUE, `end_year` > `start_year`.
      properties:
        id:
          type: string
          format: uuid
        ref:
          type: string
          description: Promotion letter.
          example: K
        name:
          type: string
          example: Promotion K 2025-2028
        start_year:
          type: integer
          example: 2025
        end_year:
          type: integer
          example: 2028
        tracks:
          type: array
          description: |
            Tracks open in this promotion, from S4 onwards.
            N:N relation Promotion / Track, join table `promotion_track`.
            A `StudentTrackChoice` is accepted only when the chosen track
            appears in this list for the student promotion.
          items:
            $ref: "#/components/schemas/Track"

    Track:
      type: object
      description: |
        HEI track: EL (Software Ecosystem), TN (Digital Transformation).
        Global reference table: EL exists only once and is reused by every
        promotion. Adding a track is a data insert, not a code change.

        A track only applies from S4 onwards. No student has a track in S1, S2
        and S3, which are common core. A track is therefore never attached
        directly to a student, but always through a `StudentTrackChoice`
        carrying an effective semester.

        DB constraint: `code` UNIQUE.
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          example: EL
        name:
          type: string
          example: Software Ecosystem

    Group:
      type: object
      description: |
        Teaching group of a promotion: K1, K2, K3.
        A group is a historical context, never the permanent identity of the
        student: `Student` carries NO `group_id`.
        DB constraint: UNIQUE (promotion_id, ref).
      properties:
        id:
          type: string
          format: uuid
        ref:
          type: string
          example: K1
        promotion:
          $ref: "#/components/schemas/Promotion"
        track:
          allOf:
            - $ref: "#/components/schemas/Track"
          nullable: true
          description: |
            Track context of the group:
            - null -> common core group (S1-S3)
            - EL   -> EL track group
            - TN   -> TN track group

            STRICTLY LIMITED USE: this field is ONLY used to check the
            consistency of assignments (rules R1 and R2 described in
            `StudentGroupAssignment`). It is NEVER read to determine the
            courses applicable to a student, nor to compute their results:
            both computations start exclusively from `StudentTrackChoice`.

            There are therefore no two sources of truth for the EL / TN rule:
            `StudentTrackChoice` decides, `Group.track` only constrains
            assignments.

            The track does not make the group permanent: an EL student may go
            through K3-EL then K4-EL then K5-EL, every change being recorded in
            `StudentGroupAssignment`.

    Semester:
      type: object
      description: |
        Reference table: S1 to S6, identical for every promotion.
        Each semester is worth 30 credits.
        DB constraints: `ref` UNIQUE, `sem_order` UNIQUE between 1 and 6.
      properties:
        id:
          type: string
          format: uuid
        ref:
          $ref: "#/components/schemas/SemesterRef"
        sem_order:
          type: integer
          description: 1 to 6.
          example: 3
        year_number:
          type: integer
          description: 1 to 3.
          example: 2
        required_credits:
          type: integer
          description: Credits needed to validate the semester.
          default: 30
        common_core:
          type: boolean
          description: |
            True when the semester is common core (S1, S2, S3), false when the
            EL / TN track applies to it (S4, S5, S6).

            This flag is reference DATA and not a hardcoded constant: the rank
            of the semester from which the track is chosen appears nowhere in
            the business code. Moving the choice to S5, or opening a third
            track, would require no code change.

            Invariants carried by this flag:
            - a course of a `common_core` semester necessarily has
              `track = null`;
            - a `StudentTrackChoice` cannot take effect on a `common_core`
              semester;
            - choosing a track is MANDATORY from the first non `common_core`
              semester. A non `common_core` semester not covered by a choice is
              not evaluable: it is flagged TRACK_NOT_SELECTED and blocks the
              diploma.
          example: false

    Credentials:
      type: object
      required: [ email, password ]
      properties:
        email:
          type: string
          format: email
          example: jean.rakoto@hei.school
        password:
          type: string
          format: password
          minLength: 8

    Token:
      type: object
      description: |
        A signed JSON Web Token. It carries the user identifier, their role and an expiry date,
        which is what lets the API authorize a request without reading the database.

        Nothing revokes a token before it expires. The lifetime is therefore kept short, and a
        deleted account keeps access until its last token runs out.
      properties:
        access_token:
          type: string
          description: "To be sent back as `Authorization: Bearer <access_token>`."
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          format: int64
          description: Lifetime in seconds, counted from the moment the token was issued.
          example: 43200

    # ==========================================================================
    # PEOPLE
    # ==========================================================================
    PasswordChange:
      type: object
      required: [ current_password, new_password ]
      properties:
        current_password:
          type: string
          format: password
        new_password:
          type: string
          format: password
          minLength: 8

    Account:
      description: |
        The sign-in side of a person. An account is disabled, never deleted:
        grade_history references it as the author of every change.
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        role:
          $ref: "#/components/schemas/Role"
        enabled:
          type: boolean

    Whoami:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        role:
          $ref: "#/components/schemas/Role"
        student_id:
          type: string
          format: uuid
          nullable: true
          description: Filled in only when the role is STUDENT.
        teacher_id:
          type: string
          format: uuid
          nullable: true
          description: Filled in only when the role is TEACHER.

    Student:
      type: object
      description: |
        Permanent owner of the grades. A group change never alters them.
        The model deliberately carries NO `graduated` field: the graduate
        status is recomputed from S1 to S6.
        The model deliberately carries NO `group_id`: group membership is
        historised in `StudentGroupAssignment`.
        The model deliberately carries NO `track_id`: the student is in the
        common core until S3 and therefore has no track for the whole duration
        of the curriculum. The track is carried by `StudentTrackChoice`, which
        makes it depend on the semester being considered.
        DB constraints: `ref` UNIQUE, `email` UNIQUE, `user_id` UNIQUE.
      properties:
        id:
          type: string
          format: uuid
        ref:
          type: string
          description: Student number, the "STD" column of the graduate Excel file.
          example: STD22045
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
          writeOnly: true
          description: |
            WRITE ONLY: accepted on creation and update, never returned by any endpoint. Only its
            hash is stored, and a hash cannot be read back, so this field is the sole way to give
            a student a password.
            Leave it out when updating to keep the current password unchanged.
        birth_date:
          type: string
          format: date
        entrance_date:
          type: string
          format: date
        status:
          $ref: "#/components/schemas/StudentStatus"
        promotion:
          $ref: "#/components/schemas/Promotion"
        current_track:
          allOf:
            - $ref: "#/components/schemas/Track"
          nullable: true
          description: |
            COMPUTED field, not persisted: the track applicable to the last
            semester of the curriculum (S6), that is the most recent choice in
            force. After a track change, this is therefore the exit track and
            not the initially chosen one.
            Null while the student has not chosen, hence null for any student
            still in the common core (S1-S3).
            Never to be used to build a transcript, nor to check a group
            assignment: the applicable track depends on the semester and is
            resolved through `StudentTrackChoice`.
        current_group:
          allOf:
            - $ref: "#/components/schemas/Group"
          nullable: true
          description: |
            COMPUTED field, not persisted: the assignment whose `end_date` is
            null. Provided for read convenience only.

    Teacher:
      type: object
      description: |
        DB constraints: `ref` UNIQUE, `email` UNIQUE, `user_id` UNIQUE.
      properties:
        id:
          type: string
          format: uuid
        ref:
          type: string
          example: TCH0012
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
          writeOnly: true
          description: |
            WRITE ONLY: accepted on creation and update, never returned by any endpoint. Only its
            hash is stored, and a hash cannot be read back, so this field is the sole way to give
            a teacher a password.
            Leave it out when updating to keep the current password unchanged.

    # ==========================================================================
    # GROUP MEMBERSHIP HISTORY
    # ==========================================================================
    StudentGroupAssignment:
      type: object
      description: |
        Historises the membership of a student in a group over a period.

        A student may change group at any moment: during a year, during a
        semester, between two semesters, and several times within the same year
        or the same semester. No academic year notion therefore appears in the
        key: only dates matter.

        `end_date = null` means the assignment is currently active.

        DB constraints:
        - CHECK (end_date IS NULL OR end_date >= start_date)
        - EXCLUDE USING gist (student_id WITH =,
            daterange(start_date, COALESCE(end_date, 'infinity'), '[]') WITH &&)
          forbids two simultaneous assignments for the same student.
        - Partial unique index on student_id WHERE end_date IS NULL.

        Application rules:
        - the group must belong to the promotion of the student;

        - R1: assigning a student to a track-bearing group (`group.track` not
          null) requires an existing `StudentTrackChoice` for the SAME track.
          One cannot enter an EL group without having officially chosen EL.

        - R2: once a track choice exists, every assignment CREATED AFTERWARDS
          must target a group whose `track` equals that of the most recent
          choice. Going back to a common core group (null `track`) is therefore
          closed.

        These two rules apply to assignments created after the choice, not to
        the current assignment: the transient state "has chosen EL, is still in
        the common core group" stays valid, and the historical S1-S3
        assignments are never invalidated retroactively.

        A group change NEVER alters the track: it is only checked against it.
        Moving from EL to TN requires a new `StudentTrackChoice`, never a mere
        group reassignment.
        Conversely, changing group within the same track stays free and
        unlimited: K3-EL -> K4-EL -> K5-EL.
      properties:
        id:
          type: string
          format: uuid
        student_id:
          type: string
          format: uuid
        group:
          $ref: "#/components/schemas/Group"
        start_date:
          type: string
          format: date
          example: "2025-09-01"
        end_date:
          type: string
          format: date
          nullable: true
          description: Null when the assignment is active.
          example: "2025-11-14"
        reason:
          type: string
          nullable: true

    StudentGroupChange:
      type: object
      required: [ group_id, start_date ]
      properties:
        group_id:
          type: string
          format: uuid
        start_date:
          type: string
          format: date
          description: |
            Effective date. The previous assignment is closed on the day before
            this date.
        reason:
          type: string
          nullable: true

    # ==========================================================================
    # TRACK CHOICE
    # ==========================================================================
    StudentTrackChoice:
      type: object
      description: |
        Choice of an EL or TN track by a student, effective FROM a semester
        onwards.

        At HEI a student first follows a common core in S1, S2 and S3, then
        chooses EL or TN from S4. The track is therefore NOT a permanent
        property of the student: it is an academic context valid over a range
        of semesters.

        The choice is MANDATORY from the first non `common_core` semester. Its
        absence is not a neutral academic state: it is a TRACK_NOT_SELECTED
        business error.

        Deferred effect model: a single row covers the nominal case (EL from S4
        covers S4, S5 and S6). The model does NOT forbid a track change: it is
        expressed by adding a row of higher rank (for instance TN from S5),
        with no end column and no update of the existing row. Semesters already
        covered by the previous choice therefore keep their original track, and
        grades already earned stay untouched.

        RESOLUTION OF THE TRACK APPLICABLE TO A SEMESTER:

            trackOf(student, semester):
                if semester.common_core:
                    -> null                      # common core, normal case
                else:
                    choice = the one with the greatest `from_semester.sem_order`
                             such that from_semester.sem_order <= semester.sem_order
                    if no such choice:
                        -> TRACK_NOT_SELECTED    # business error, NOT null
                    else:
                        -> choice.track

        `null` and TRACK_NOT_SELECTED must never be confused: the former is the
        S1-S3 common core, the latter a non evaluable semester.

        This function, and it alone, feeds transcript building, credit
        computation and diploma eligibility. Neither `Group.track` nor
        `Student.current_track` takes part in it.

        DB constraint: UNIQUE (student_id, from_semester_id).
        Application rules:
        - `from_semester.common_core` must be false (a track is not chosen for
          a common core semester);
        - the first choice of a student must take effect on the first non
          `common_core` semester of the curriculum, determined from the data
          and never hardcoded;
        - the chosen track must be open in the student promotion (present in
          `promotion_track`).

        Recording a choice creates NO group assignment: the track choice and
        the group assignment are two distinct business operations. Their
        consistency is enforced by rules R1 and R2 of
        `StudentGroupAssignment`. The transient state "track chosen, still in a
        common core group" is therefore allowed.
      properties:
        id:
          type: string
          format: uuid
        student_id:
          type: string
          format: uuid
        track:
          $ref: "#/components/schemas/Track"
        from_semester:
          allOf:
            - $ref: "#/components/schemas/Semester"
          description: First semester this track applies to.
        decided_at:
          type: string
          format: date-time
        reason:
          type: string
          nullable: true

    StudentTrackChoiceCreation:
      type: object
      required: [ track_id, from_semester_ref ]
      properties:
        track_id:
          type: string
          format: uuid
        from_semester_ref:
          allOf:
            - $ref: "#/components/schemas/SemesterRef"
          description: |
            Effective semester, S4 in the nominal case.
            Rejected when the semester is a common core one.
        reason:
          type: string
          nullable: true

    # ==========================================================================
    # CURRICULUM
    # ==========================================================================
    Course:
      type: object
      description: |
        Curriculum subject. A course belongs to exactly one semester, which
        makes the semester of a grade derivable through
        grade -> exam -> course -> semester: `Grade` therefore stores no
        semester.
        DB constraints: `ref` UNIQUE, `credits` > 0.
      properties:
        id:
          type: string
          format: uuid
        ref:
          type: string
          example: PROG1
        title:
          type: string
          example: Advanced Programming
        credits:
          type: integer
          description: Credits earned when the course is validated.
          example: 6
        semester:
          $ref: "#/components/schemas/Semester"
        track:
          allOf:
            - $ref: "#/components/schemas/Track"
          nullable: true
          description: |
            CRITICAL EL / TN RULE, carried by the data.
            N:1 relation Course -> Track, NULLABLE foreign key `track_id`.

            The four course categories are read by crossing `track` with
            `semester.common_core`:
            1. common core        -> track = null, common_core semester
                                     (S1-S3, followed by every student)
            2. common to tracks   -> track = null, non common_core semester
                                     (S4-S6, followed by both EL and TN)
            3. EL specific        -> track = EL, invisible to a TN student
            4. TN specific        -> track = TN, invisible to an EL student

            An N:N `course_track` relation was ruled out: it cannot represent
            the common core. A common course would be linked to both tracks,
            yet in S1-S3 the student has NO track, so joining on their track
            would return nothing. `track = null` instead handles the common
            core and the post-choice common courses through the same mechanism.

            Constraint: when `semester.common_core` is true, `track` must be
            null. A S1-S3 course cannot be specific to a track.

    TeachingAssignment:
      type: object
      description: |
        TERNARY relation Course x Teacher x Group.

        The three rules "a course is taught by several teachers", "a course is
        given to several groups" and "a teacher teaches several groups" cannot
        be represented by three binary join tables: one would know that two
        teachers give Java and that Java is given to K1 and K2, without knowing
        WHO teaches WHICH group.
        A missing (course, group) row means the course is not given to that
        group.

        The semester is not an extra axis: it is already determined by
        `course.semester`. Adding it would introduce the functional dependency
        course -> semester inside the key.

        The track is not an extra axis either: it is already carried by
        `course.track`. A group stays mixed after S4, so an EL-only course may
        be assigned to a group that also holds TN students. Those TN students
        simply do not have that course among their applicable courses, and it
        counts neither towards their credits nor towards their average.

        DB constraint: UNIQUE (course_id, teacher_id, group_id).
      properties:
        id:
          type: string
          format: uuid
        course:
          $ref: "#/components/schemas/Course"
        teacher:
          $ref: "#/components/schemas/Teacher"
        group:
          $ref: "#/components/schemas/Group"

    Exam:
      type: object
      description: |
        Assessment of a course. A course may hold several weighted exams.
        DB constraints: UNIQUE (course_id, title), `coefficient` > 0.
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          example: Final exam
        date_exam:
          type: string
          format: date-time
          description: |
            Also used to resolve the group of the student on the exam date, for
            the TEACHER authorization check.
        coefficient:
          type: number
          format: double
          example: 2.0
        course:
          $ref: "#/components/schemas/Course"

    # ==========================================================================
    # GRADES
    # ==========================================================================
    Grade:
      type: object
      description: |
        Current grade of a student for an exam.

        The grade is attached to the student and to the exam, NEVER to a group:
        this is the structural guarantee that a group change cannot make a
        grade disappear.
        It carries no semester either, that being derivable through the exam.

        DB constraints: UNIQUE (student_id, exam_id), 0 <= value <= 20.
      properties:
        id:
          type: string
          format: uuid
        student_id:
          type: string
          format: uuid
        exam:
          $ref: "#/components/schemas/Exam"
        value:
          type: number
          format: double
          minimum: 0
          maximum: 20
          example: 14.0
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    GradeChange:
      type: object
      description: |
        Entry or update of a grade.
        `reason_type` and `reason` are mandatory: an update without a reason is
        impossible, both at application level and at database level
        (NOT NULL + CHECK on a non blank reason).
      required: [ student_id, value, reason_type, reason ]
      properties:
        student_id:
          type: string
          format: uuid
        value:
          type: number
          format: double
          minimum: 0
          maximum: 20
        reason_type:
          $ref: "#/components/schemas/GradeChangeReasonType"
        reason:
          type: string
          minLength: 1
          example: Claim accepted

    GradeHistory:
      type: object
      description: |
        One row per entry or update. Never updated, never deleted.

        Example of a grade going from 10 to 14 then to 13: the current grade is
        13 and three history rows coexist (null -> 10, 10 -> 14, 14 -> 13),
        each with its own reason and author.

        DB constraints:
        - `reason` NOT NULL and CHECK (length(btrim(reason)) > 0)
        - CHECK (old_value IS DISTINCT FROM new_value)
      properties:
        id:
          type: string
          format: uuid
        grade_id:
          type: string
          format: uuid
        old_value:
          type: number
          format: double
          nullable: true
          description: Null on the first entry.
        new_value:
          type: number
          format: double
        reason_type:
          $ref: "#/components/schemas/GradeChangeReasonType"
        reason:
          type: string
        changed_by:
          type: string
          format: uuid
          description: User account that made the modification.
        changed_by_email:
          type: string
          format: email
        changed_at:
          type: string
          format: date-time

    # ==========================================================================
    # RESULTS (fully computed, never persisted)
    # ==========================================================================
    CourseResult:
      type: object
      description: |
        Result of a student for a course applicable to their academic context
        at the semester of that course.

        Final grade = sum(grade_i x coefficient_i) / sum(coefficient_i), over
        every exam of the course. A missing grade counts as 0 in the numerator,
        its coefficient staying in the denominator.
        This formula is not specified by the assignment: it is an explicit
        project convention.

        A course is validated when the final grade is >= 10, which grants
        `credits` credits.
      properties:
        course:
          $ref: "#/components/schemas/Course"
        final_grade:
          type: number
          format: double
          nullable: true
          description: Null when the course has no exam at all.
          example: 14.0
        validated:
          type: boolean
          description: final_grade >= 10
        obtained_credits:
          type: integer
          description: The course credits when validated, 0 otherwise.

    SemesterResult:
      type: object
      description: |
        A semester is validated when the obtained credits reach the required
        credits (30). Credits are counted only over the courses applicable to
        THE ACADEMIC CONTEXT OF THAT SEMESTER: in S1-S3 the common core
        courses, in S4-S6 the common courses plus those of the chosen track.
        An EL student can therefore never fail because of a TN-only course.
      properties:
        semester:
          $ref: "#/components/schemas/Semester"
        status:
          allOf:
            - $ref: "#/components/schemas/SemesterResultStatus"
          description: |
            EVALUATED when the academic context of the semester could be
            resolved.
            TRACK_NOT_SELECTED when the semester is not `common_core` and no
            track choice covers it: the semester is then not evaluable,
            `obtained_credits` is 0, `validated` is false and `course_results`
            is empty.
            This status prevents a silent failure, where a student without a
            track choice would be indistinguishable from a student who failed.
        track:
          allOf:
            - $ref: "#/components/schemas/Track"
          nullable: true
          description: |
            Track applied for THIS semester, resolved through
            `StudentTrackChoice`.
            Null in the common core (S1-S3), and null when the status is
            TRACK_NOT_SELECTED.
            Makes the academic context explicit in the transcript.
        obtained_credits:
          type: integer
        required_credits:
          type: integer
        validated:
          type: boolean
          description: |
            Always false when `status` is TRACK_NOT_SELECTED: a non evaluable
            semester cannot be validated.
        course_results:
          type: array
          items:
            $ref: "#/components/schemas/CourseResult"

    StudentResult:
      type: object
      description: |
        Result of a student across the three years.

        Graduated if and only if the six semesters S1 to S6 are validated.
        A general average above 10 is never enough: a single non validated
        semester makes the student a non graduate.

        General average = sum(final grade x credits) / sum(credits) over the
        applicable courses, from S1 to S6, that is the common core from S1 to
        S3 then the chosen track context from S4 to S6. Weighting by credits is
        an explicit project convention.
      properties:
        student:
          $ref: "#/components/schemas/Student"
        semester_results:
          type: array
          description: Six elements, from S1 to S6.
          items:
            $ref: "#/components/schemas/SemesterResult"
        total_obtained_credits:
          type: integer
          description: Out of 180.
        general_average:
          type: number
          format: double
        graduated:
          type: boolean
        blockers:
          type: array
          description: |
            Empty if and only if `graduated` is true. Lists, semester by
            semester, what prevents the diploma, telling apart a failed
            semester from a semester that is not evaluable for lack of a track
            choice.
            This is what allows excluding a student from the graduate list with
            the exact reason, rather than a generic "insufficient credits".
          items:
            $ref: "#/components/schemas/GraduationBlocker"

    GraduationBlocker:
      type: object
      description: Precise cause, attached to a semester, of a diploma not obtained.
      properties:
        code:
          $ref: "#/components/schemas/GraduationBlockerCode"
        semester_ref:
          $ref: "#/components/schemas/SemesterRef"
        message:
          type: string
          example: No track selected from S4 onwards

    Graduate:
      type: object
      description: |
        One row of the graduate list. Matches exactly the columns required for
        the Excel export: rank, STD, last name, first name, general average.
        Rank: competition ranking by decreasing general average among the
        graduates of the promotion only, ties sharing the same rank, broken
        further by last name then first name.
      properties:
        rank:
          type: integer
          example: 1
        std:
          type: string
          description: Student reference.
          example: STD22045
        last_name:
          type: string
        first_name:
          type: string
        general_average:
          type: number
          format: double
          example: 15.42
        track_code:
          type: string
          nullable: true
          description: |
            Exit track of the diploma, in practice the one chosen from S4.
            Column added beyond the minimum required by the assignment (rank,
            STD, last name, first name, general average).
          example: EL

    # ==========================================================================
    # TRANSCRIPT (PDF + S3 + ASYNCHRONOUS EMAIL)
    # ==========================================================================
    TranscriptRequestCreation:
      type: object
      properties:
        semester_ref:
          allOf:
            - $ref: "#/components/schemas/SemesterRef"
          nullable: true
          description: Null for a full S1 to S6 transcript.

    TranscriptRequest:
      type: object
      description: |
        Tracks the lifecycle of a transcript request, which makes the
        asynchronous processing observable and testable.
        `file_url` is only available once the PDF has been uploaded to S3.
      properties:
        id:
          type: string
          format: uuid
        student_id:
          type: string
          format: uuid
        semester_ref:
          allOf:
            - $ref: "#/components/schemas/SemesterRef"
          nullable: true
        status:
          $ref: "#/components/schemas/TranscriptStatus"
        file_url:
          type: string
          nullable: true
          description: Presigned S3 link, emailed by the consumer.
        requested_at:
          type: string
          format: date-time
        generated_at:
          type: string
          format: date-time
          nullable: true
        sent_at:
          type: string
          format: date-time
          nullable: true
        error_message:
          type: string
          nullable: true

    # ==========================================================================
    # ERRORS
    # ==========================================================================
    Error:
      type: object
      properties:
        type:
          type: string
          example: BadRequestException
        message:
          type: string
